POSTGRES_DB=yourdb
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_HOST=database
POSTGRES_PORT=5432
DJANGO_SECRET_KEY=replace-with-a-long-random-value
DJANGO_DEBUG=false
DJANGO_ALLOWED_HOSTS=midnightlibrary.pedrocrlx.pt
DJANGO_CSRF_TRUSTED_ORIGINS=https://midnightlibrary.pedrocrlx.pt
